<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>
<form action="/transaction" method="post">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;">
        <input type="text" placeholder="senderName" name="senderName" style="margin: 15px;">
        <input type="text" placeholder="senderPass" name="senderPass" style="margin: 15px;">
        <input type="number" placeholder="count" name="count" style="margin: 15px;">
        <input type="text" placeholder="nameTo" name="nameTo" style="margin: 15px;">
        <button type="submit">Transaction</button>
    </div>
</form>
</body>
</html>