<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
    </tr>
</table>

<form action="/registration" method="post">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;">
        <input type="text" placeholder="name" name = "name" style="margin: 15px;">
        <input type="text" placeholder="password" name = "password" style="margin: 15px;">
        <input type="number" placeholder="money" name = "money" style="margin: 15px;">
        <button type="submit">Registration</button>
    </div>
</form>

</body>
</html>

